# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

var/*.log
var/*.db*
# TODO: remove glass
var/glass
var/parentalCode
var/volume
etc/config.ini
content
audio/*.ini
audio/*.map
audio/*.mp3
audio/*.wav
audio/*.ogg


